.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) { animation-duration: 7s; }
.parallax > use:nth-child(2) { animation-duration: 10s; }
.parallax > use:nth-child(3) { animation-duration: 13s; }
.parallax > use:nth-child(4) { animation-duration: 20s; }

@keyframes move-forever {
  0% { transform: translate3d(-90px, 0, 0); }
  100% { transform: translate3d(85px, 0, 0); }
}

.wave-container {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
